<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/custom.css">
  <!-- <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <!-- <script src="{{ url_for('static', filename='js/navbarcustomscript.js') }}"></script> -->
  <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
  <script src="../static/js/angular.js"></script>

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/agentIndex.js"></script>
  <script src="../static/js/angular-app.js"></script>
  <style></style>

</head>

<body ng-app="Agent">
  <div class="agentname">{{data.agentname}}</div>
  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
  <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <!------ Include the above in your HEAD tag ---------->
  <!-- <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <!------ Include the above in your HEAD tag ---------->
  <div ng-controller="agentController">


    <div class="container">
      <div class="navbar">
        <div class="navbar-inner">
          <a class="brand" href="#">
            <!-- UNCOMMENT THE CSS VALUES TO TEST OTHER DIMENTIONS -->
            <!-- <img src="http://placehold.it/150x80&text=Logo" alt=""> -->
            <img src="{{ url_for('static', filename='images/rslogo.jpg') }}" alt="">
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">Link</a>
              </li>
              <li>
                <a href="#">Link</a>
              </li>
              <ul class="nav">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Dropdown
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a href="#">Link</a>
                    </li>
                    <li>
                      <a href="#">Link</a>
                    </li>
                    <li>
                      <a href="#">Link</a>
                    </li>
                    <li>
                      <a href="#">Link</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>



    <!-- <p id = "username" hidden="True">{{data.user}}</p> -->
    <div class="user-index-container container">
      <!-- <button href="{{ url_for('user_logout') }}">Endchat</button> -->

      <li>
        <a class="btn btn-danger" ng-click="break(); changeButtonTxt = !changeButtonTxt">
          <span ng-bind="toggleText"></span>
        </a>
      </li>
      <li>
        <a href="{{ url_for('agent_logout') }}" class="btn btn-danger">Logout</a>
      </li>
      <!-- <div id="chat"> -->
    </div>


    <style>
    </style>


    <div class="container chatwindow">
      <div class="row show-agents-container">

        <div id="chattab" class="col-xs-3">
          <div class="" ng-if="!users">No User</div>
          <div ng-repeat="user in chatHistory" class="userlist" ng-click="getChat(user.chatlist)">
            <a>
              <div ng-bind="user.user1"></div>
            </a>
          </div>
         
        </div>

        <div id="chatwin" class="col-xs-9 show-chats-container">

          <div ng-repeat="message in messages" class="chat-list">
          <!-- <div ng-bind=message> -->
            <div class="left" ng-if="message.type=='user'">
              <span ng-bind="message.msg" class=""></span>
            </div>
            <div class="right " ng-if="message.type=='agent'">
              <span ng-bind="message.msg" class=""></span>
            </div>
          </div>

          <div class="bottom" ng-if="messages.length>0">
            <input type="text" ng-model="agentReplay" placeholder="Reply...">
            <button ng-click="sendMessage(agentReplay,messages)" class="btn btn-primary">Submit</button>
            <button ng-click="endChat(users)" class="btn btn-danger">End Chat</button>
          </div>

        </div>
      </div>


    </div>

    <!--     <div class="col-sm-12 frame">
      <ul></ul>
      <div>
        <div class="msj-rta macro">
            <textarea rows="1" class="mytext" type="text" placeholder="Type a message" id="private_message"></textarea>
        </div>
        <div style="padding:10px;">
          <span class="glyphicon glyphicon-share-alt send-glyp" id="send_private_message"></span>
        </div>
      </div>
    </div> -->
    <!-- <div id="London" class="tabcontent">
  	<div id = "chat" class="container">
  		<img src="/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  		<p>Hello. How are you today?</p>
  		<span class="time-right">11:00</span>
    </div>-->

    <!-- </div> -->

    <!--<div id="Paris" class="tabcontent">
  <h3>Paris</h3>:1px solid #ccc
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="tabcontent">
  <h3>Tokyo</h3>
  <p>Tokyo is the capital of Japan.</p>
</div>
 -->
    <!-- </div>
<li><a href="{{ url_for('agent_logout') }}">Log Out</a></li>
      <div id="chat">
      </div>

  Message: <input type="text" id="private_message">
    <button id="send_private_message">Send</button> -->
    <!-- <script>
    function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
    }

    // Get the element with id="defaultOpen" and click on it
    // document.getElementById("defaultOpen").click();
  </script> -->

    <!-- <script type="text/javascript" charset="utf-8"></script> -->
    <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  </div>
  <script>
    var data = {{data | tojson}}
    var agentemail = data.agentemail;
    var agentname = data.agentname;
    var chathistory = data.history;
 

    console.log(data, agentname, chathistory);
  </script>
</body>

</html>