<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/agentindex.css">
  <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">
  <script src="../static/js/angular.js"></script>

  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/socket.io.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="../static/js/agentIndex.js"></script>
  <style></style>
</head>

<body ng-app="Agent">
  <div class="agentname">{{data.agentname}}</div>
  <div ng-controller="agentController">

    <style>
      .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
      }

      .nav-container li .glyphicon {
        margin-right: 6px;
      }

      .navbar {
        border-radius: 0px;
        margin-bottom: 0px;
      }
    </style>


    <div class="container-fluid">
      <nav class="navbar ">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">
              <img src="../static/images/rslogo.jpg">
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a style="cursor: pointer;" data-toggle="modal" data-target="#myModal">
                  <span class="glyphicon glyphicon-info-sign"></span>
                  HotKeys
                </a>
              </li>
              <li>
                <a href="#" ng-click="break(); changeButtonTxt = !changeButtonTxt">
                  <span class="glyphicon glyphicon-hourglass"></span>
                  <!-- <span ng-bind="toggleText"></span> -->
                  <span ng-if="breakStatus">Resume</span>
                  <span ng-if="!breakStatus">Away</span>
                </a>
              </li>

              <!-- <li>
                    <a href="{{ url_for('agent_logout') }}" ng-click="logout()">
                      <span class="glyphicon glyphicon-off"></span>
                      Logout
                    </a>
                  </li> -->
              <li class="menu">
                <a href="#">Hi {{data.agentname}}</a>
                <div class="logout_menu menu_content">
                  <!-- <a href="{{ url_for('agent_logout') }}" ng-click="logout()"> -->
                  <a  ng-click="logout()">
                    <span class="glyphicon glyphicon-off"></span>
                    Logout
                  </a>
                </div>
              </li>


            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </div>

    <style>
    .blinking{
	    animation:blinking 0.8s infinite;
    }
    @keyframes blinking{
      0%{		color: #000;	}
      49%{	color: #000;	}
      50%{	color: transparent;	}
      99%{	color:transparent;	}
      100%{	color: #000;	}
    }
    </style>
    <spna class="blinking">Hello</spna>
    <div class="container-fluid chatwindow">
      <div class="row show-agents-container">

        <div id="chattab" class="col-xs-3">
          <div ng-if="chatHistory.length==0" class="no-user">No User</div>
          <div ng-repeat="user in chatHistory" class="userlist" ng-click="getChat(user)">
            <span class="user-close" ng-if="user.isChatEnd" ng-click="removeUser(user)">X</span>
            <a>
              <div ng-bind="user.user1"></div>
            </a>
          </div>

        </div>

        <div id="chatwin" class="col-xs-9 show-chats-container">
          <div class="chat-panel">
            <div class="message-panel">
              <div class="" ng-repeat="message in selectedUser.chatlist track by $index" class="chat-list" ng-class="{'left':message.type=='user','right':message.type=='agent'}">
                <!-- <div ng-bind=message> -->
                  <!-- <div  class="agent-transfer" ng-if="(selectedUser.chatlist[$index-1] && message.agent_email!=selectedUser.chatlist[$index-1].agent_email)" >
                      Agent <span class="u" ng-bind="selectedUser.chatlist[$index-1].agent_email"></span>   transfered chat to 
                        <span class="u"  ng-bind="message.agent_email"></span>
                  </div> -->
                  <div  class="agent-transfer" ng-if="message.type=='transfer'" >
                  <span ng-bind="message.msg"></span>
                </div>
                <div class="left-chat" ng-if="message.type=='user'">
                  <span ng-bind="message.msg" class=""></span>
                  <br>
                  <div class="chat-info-detail-left">

                    <span class="userInfo">

                      <span class="custom-tooltip">
                        <a target="_blank" ng-href="#">
                          <span ng-bind="message.userdetails.url"> </span>
                        </a>
                      </span>
                      User Info</span>
                    <span class="time">
                      <span ng-bind="message.date.$date |  date:'MMM d, h:mm:ss a'"> </span>
                    </span>

                  </div>
                </div>

                <div class="right-chat" ng-if="message.type=='agent'">
                  <span ng-bind="message.msg" class=""></span>
                  <br>
                  <div class="chat-info-detail-right">
                    <!-- <span class="userInfo">User Info</span> -->
                    <span ng-bind="message.date.$date |  date:'MMM d, h:mm:ss a'"> </span>
                  </div>
                </div>

              </div>
              <div class="danger" ng-if="selectedUser.chatlist && !(selectedUser.chatlist.length>0 && !selectedUser.isChatEnd)">chat has been ended</div>
            </div>

            <div class="bottom" ng-if="selectedUser.chatlist.length>0 && !selectedUser.isChatEnd">
              <input type="text" id="agentInput" ng-model="agentReplay.text" placeholder="Reply..." ng-keydown="keyDownFunc($event, agentReplay.text, selectedUser.chatlist)">
              <button ng-click="sendMessage(agentReplay.text,selectedUser.chatlist)" class="btn btn-primary">Submit</button>

              <div class="dropup transfer-button">
                <button class="btn btn-default btn-primary dropdown-toggle" type="button" ng-click="getLiveAgent()" id="menu1" data-toggle="dropdown">Transfer
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation" ng-repeat="agent in agentOnline" ng-if="agentOnline.length>0" ng-click="transferAgent(agent,selectedUser)">
                    <a role="menuitem" tabindex="-1" href="#">
                      <span ng-bind="agent.agentname"></span>
                    </a>
                  </li>

                  <li role="presentation" ng-if="agentOnline.length==0">
                    <a role="menuitem" tabindex="-1" href="#">
                      <span>no agent available</span>
                    </a>
                  </li>
                </ul>
              </div>
              <button ng-click="endChat(selectedUser.chatlist)" class="btn btn-danger">End Chat</button>

            </div>
          </div>
        </div>

      </div>


      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title" id="myModalLabel">Hotkeys Information </h4>
            </div>
            <div class="modal-body">
              <!-- NG REPEAT -->
                <!-- <span ng-bind="item"></span> -->
                <!-- <ul>
                  <li>
                    
                    
                  </li>
                </ul> -->

                <table class="table table-hover">
                    <thead>
                      <tr>
                        <th style="width:13%; text-align:center">Special Keys</th>
                        <th style="width:13%; text-align:center">Keys</th>
                        <th>Message</th>
                      </tr>
                    </thead>
                    <tbody ng-repeat="item in hotkeys">
                      <tr>
                        <td style="text-align: center">
                          <span ng-bind="item.specialkeyvalue"></span>
                        </td>
                        <td style="text-align: center">
                          <span ng-bind="item.hotkeyvalue"></span>
                        </td>
                        <td>
                          <span ng-bind="item.message"></span>
                        </td>
                      </tr>
                    </tbody>
                </table>
                <!-- <div class="col-xs-5">
                    </div>
                    <div class="col-xs-7">
                      
                    </div>
                    <br> -->
            </div>
          </div>
        </div>




      </div>





    </div>
  </div>

  <script>
    var data = {{data | tojson}}
    var agentemail = data.agentemail;
    var agentname = data.agentname;
    var chathistory = data.history;
    var agentlist = data.agentlist;
var break_status=data.break_status;
    var rightcolor="#768670";
    var leftcolor="#222222";
    console.log(data, agentname, chathistory);

    //assigning custom color in chatbox
    $(document).ready(function() {
      console.log( "ready!" );  
      var style = document.createElement('style');
      style.type = 'text/css';
      style.innerHTML = ".right-chat { background-color:"+ rightcolor+";}  .right-chat:after{border-color: transparent "+rightcolor+";}";
      style.innerHTML += ".left-chat { background-color:"+ leftcolor+"}   .left-chat:after{border-color: transparent "+leftcolor+";}";
      document.getElementsByTagName('head')[0].appendChild(style);
      // document.getElementById('someElementId').className = 'cssClass';
      }
    )
    //end of custom color in chatbox

  </script>
</body>

</html>