<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/user.css">
  <script src="../static/js/angular.js"></script>


  <title>Live Chat</title>
</head>

<body ng-app="chatWindow">
  <!-- close experiment -->
  <div ng-controller="chatWindowController">
    <div class="chat-container" ng-class="{'chat-close':!chatOpen}">
      <div class="top">
        <div>
          <img src="../static/images/chat.png" class="chat-icon">
          <span>LIVE CHAT</span>
        </div>
        <div class="flex">
          <div class="end-chat">
            <a href="{{ url_for('user_logout') }}">
              <img src="../static/images/shutdown.png" class="chat-icon">
            </a>

            <!-- <a href="{{ url_for('user_logout') }}" class="btn btn-danger">End Chat</a> -->
          </div>
          <div class="chat-toggle" ng-click="chatOpen=!chatOpen">
            <img src="../static/images/down-arrow.png" ng-if="chatOpen" class="chat-icon left">
            <img src="../static/images/up-arrow.png" ng-if="!chatOpen" class="chat-icon left">
          </div>
        </div>

      </div>
      <div class="user-page-container">

        <div id="chathide">
          <p id="username" hidden="True">{{data.user}}</p>
          <p id="datahistory" hidden="True">{{data.history}}</p>
          <!-- <p id = "agentname" hidden="True">{{data.agent}}</p> -->

          <!-- <div onload="insertChat('me','dd')"></div> -->
        </div>
        <div class="user-index-container">
          <!-- <button href="{{ url_for('user_logout') }}">Endchat</button> -->
          <li>

          </li>
          <!-- <div id="chat">
                  </div> -->
          <div class="col-sm-12 frame">
            <ul></ul>
            <div>
              <div class="msj-rta macro">
                <!-- <div class="text text-r" style="background:whitesmoke !important"> -->
                <textarea rows="1" class="mytext" type="text" placeholder="Type a message" id="private_message" ng-model="privateMessage"></textarea>
                <!-- </div> -->

              </div>
              <div style="padding:10px;">
                <span class="glyphicon glyphicon-share-alt send-glyp" id="send_private_message" ng-click="sendPrivateMessage(privateMessage)"></span>
                <!-- <button id="send_private_message" class="btn btn-primary">Send</button> -->
              </div>
            </div>
          </div>






          <!-- Message:- &nbsp;
                  <input type="text" id="private_message">
                  <button id="send_private_message" class="btn btn-primary">Send</button> -->


        </div>

      </div>
    </div>



  </div>
  <script>
    var data = {{data | tojson}}
    var username = data.user;
    var chathistory = data.history;
    var agent = data.agent;
    var useremail = data.useremail;

    console.log(data, username, agent, useremail,chathistory);
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="../static/js/index.js"></script>
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

</body>

</html>