<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="stylesheet" href="../static/css/user.css">
  <script src="../static/js/angular.js"></script>


  <title>Live Chat</title>
</head>

<body ng-app="chatWindow">
  <!-- close experiment -->
  <div ng-controller="chatWindowController">
    <div class="chat-container" ng-class="{'chat-close':!chatOpen}">
      <div class="top">
        <div>
          <img src="../static/images/chat.png" class="chat-icon">
          <span>LIVE CHAT</span>
        </div>
        <div class="flex">
          <div class="end-chat">
            <a href="{{ url_for('user_logout') }}">
              <img src="../static/images/shutdown.png" class="chat-icon">
            </a>

            <!-- <a href="{{ url_for('user_logout') }}" class="btn btn-danger">End Chat</a> -->
          </div>
          <div class="chat-toggle" ng-click="chatOpen=!chatOpen">
            <img src="../static/images/down-arrow.png" ng-if="chatOpen" class="chat-icon left">
            <img src="../static/images/up-arrow.png" ng-if="!chatOpen" class="chat-icon left">
          </div>
        </div>

      </div>
      <div class="user-page-container">

        <div id="chathide">
          <p id="username" hidden="True">{{data.user}}</p>
          <p id="datahistory" hidden="True">{{data.history}}</p>
          <!-- <p id = "agentname" hidden="True">{{data.agent}}</p> -->

          <!-- <div onload="insertChat('me','dd')"></div> -->
        </div>

        <div class="user-index-container">
          <!-- <button href="{{ url_for('user_logout') }}">Endchat</button> -->
          <li>

          </li>
          <!-- <div id="chat">
                  </div> -->
          <div class="col-sm-12 frame" scroll-glue="glued">
            <ul>
              <!-- <li>
    <div class="msj macro">
        <div class="avatar">
          <img class="img-circle" style="width:100%;" src="https://lh6.googleusercontent.com/-lr2nyjhhjXw/AAAAAAAAAAI/AAAAAAAARmE/MdtfUmC0M4s/photo.jpg?sz=48">
        </div>
        <div class="text text-l">
          <p>hi i am dev@lbh.com how can i help you</p>
          <p>
            <small>6:52 PM</small>
          </p>
        </div>
      </div>
</li>
       <li>
          <div class="msj-rta macro">
              <div class="text text-r">
                <p>dfd</p>
                <p>
                  <small>7:11 PM</small>
                </p>
              </div>
              <div class="avatar" style="padding:0px 0px 0px 10px !important">
                <img class="img-circle" style="width:100%;" src="https://a11.t26.net/taringa/avatares/9/1/2/F/7/8/Demon_King1/48x48_5C5.jpg">
              </div>
            </div>
       </li>     -->
              <li ng-repeat="chat in chatHistory.chatlist track by $index">
                <!-- <span ng-bind="chat.fromname"></span>
            <span ng-bind="user"></span> -->
                <div class="msj macro" ng-if="chat.type=='agent'" scroll-glue-anchor>
                  <div class="avatar">
                    <img class="img-circle" style="width:100%;" src="../static/images/agent1.png">
                  </div>
                  <div class="text text-l">
                    <p>
                      <span ng-bind="chat.msg">
                    </p>
                    <p>
                      <small>6:52 PM</small>
                    </p>
                  </div>
                </div>
                <div class="msj-rta macro" ng-if="chat.type=='user'" scroll-glue-anchor>
                  <div class="text text-r">
                    <p>
                      <span ng-bind="chat.msg"></span>
                    </p>
                    <p>
                      <small>7:11 PM</small>
                    </p>
                  </div>
                  <div class="avatar" style="padding:0px 0px 0px 10px !important">
                    <img class="img-circle" style="width:100%;" src="../static/images/agent.png">
                  </div>
                </div>                
              </li>

              <li class="chat-end" ng-if="agentDisconnected">
                 --------- CHAT Ended By Agent ---------
              </li>

            </ul>
            <div class="class-main-bottom" ng-if="!agentDisconnected">

              <div class="suggest">
                <span class="suggest-text">
                  Was our Agent helpful?
                </span>
                &nbsp;
                <span class="glyphicon glyphicon-thumbs-up send-glyp-posi" ng-click="likeSuggest(); likeStyle={'color':'blue'}; dislikeStyle={'color':'#333'}" ng-style="likeStyle"></span>
                &nbsp;
                <span class="glyphicon glyphicon-thumbs-down send-glyp-nega" ng-click="dislikeSuggest(); dislikeStyle={'color':'red'}; likeStyle={'color':'#333'}" ng-style="dislikeStyle"></span>
              </div>

              <div class="user-chat-bottom">
                <div class="text-input">
                  <!-- <div class="text text-r" style="background:whitesmoke !important"> -->
                  <input class="mytext" type="text" placeholder="Type a message" id="private_message" ng-model="privateMessage.message" ng-keypress="sendViaEnter($event, privateMessage.message)">
                  <!-- </div> -->
                </div>

                <div style="padding:10px;">
                  <span class="glyphicon glyphicon-send send-glyp" id="send_private_message"  ng-click="sendPrivateMessage(privateMessage.message)"></span>
                  <!-- <button id="send_private_message" class="btn btn-primary">Send</button> -->
                </div>
              </div>

            </div>

          </div>






          <!-- Message:- &nbsp;
                  <input type="text" id="private_message">
                  <button id="send_private_message" class="btn btn-primary">Send</button> -->


        </div>

      </div>
    </div>



  </div>
  <script>
    var data = {{data | tojson}}
    var username = data.user;
    var chathistory = data.history;
    var agent = data.agent;
    var useremail = data.useremail;

    console.log(data, username, agent, useremail, chathistory);
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="../static/js/jquery-3.3.1.min.js"></script>
  <script src="../static/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="../static/js/index.js"></script>
  <script src="https://cdn.rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js"></script>
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

</body>

</html>